# Xcode e macOS
.DS_Store
xcuserdata/
*.xcworkspace/
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
DerivedData/
build/
*.pbxproj

# Swift Package Manager
/.swiftpm/
/.build/
/Packages/
/SourcePackages/

# Logs & Metadata
*.log
*.lock
*.xcdebugger/
